# For Development
<FilesMatch ".(html|js|css)$">
  FileETag None
  <ifModule mod_headers.c>
    Header unset ETag
    Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
  </ifModule>
</FilesMatch>

AddType application/font-woff .woff

RewriteEngine On
RewriteRule   ^store$                /store.php                [L,NC,QSA]
RewriteRule   ^geturl$               /geturl.php               [L,NC,QSA]
RewriteRule   ^(d.{5})$             /index.php?d=$1           [L,NC,QSA]
RewriteRule   ^(0[0-9a-zA-Z]+)$      /view.php?id=$1           [L,NC,QSA]
RewriteRule   ^(0.)(..)(..).png$     http://images.snapnote.io/$1/$2/$3.png           [L,NC,QSA]
RewriteRule   ^(d.)(..)(..).png$     http://images.snapnote.io/$1/$2/$3.png           [P,L,NC,QSA]
