html {
  padding: 0;
  margin: 0;
  min-width: 730px;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans;
  background-repeat: repeat;
  background-image: url('/img/background.jpg');
  min-width: 730px;
  position: relative;
}

a {
  text-decoration: none;
}

.logo {
  letter-spacing: 0.1em;
  font-weight: 100;
  font-size: 14px;
}

.hidden {
  display: none;
}
