@font-face {
	font-family: 'snapnote';
	src:url('fonts/snapnote.eot');
	src:url('fonts/snapnote.eot?#iefix') format('embedded-opentype'),
		url('fonts/snapnote.woff') format('woff'),
		url('fonts/snapnote.ttf') format('truetype'),
		url('fonts/snapnote.svg#snapnote') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'snapnote';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-image, .icon-arrow, .icon-text, .icon-rectangle, .icon-label, .icon-save, .icon-send {
	font-family: 'snapnote';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-image:before {
	content: "\25";
}
.icon-arrow:before {
	content: "\26";
}
.icon-text:before {
	content: "\28";
}
.icon-rectangle:before {
	content: "\23";
}
.icon-label:before {
	content: "\2b";
}
.icon-save:before {
	content: "\21";
}
.icon-send:before {
	content: "\22";
}
