@headerHeight: 50px;
@footerHeight: 20px;
@gutter: 10px;

// @color: #4dc0c7;
// @color: #b7d595;
// @color: #f9aeb5;
@color: #ff4f00;

@import 'reset';
@import 'font.css';
@import 'definitions';

html {
  height: 100%;
  padding: 0;
  margin: 0;
  min-width: 730px;
}

body {
  padding: 0;
  margin: 0;
  padding: @headerHeight 0 @footerHeight 0;
  margin: 0;
  font-family: Helvetica, Arial, sans;
  background-repeat: repeat;
  background-image: url('/img/background.jpg');
  min-width: 730px;
  position: relative;
}

a {
  text-decoration: none;
}

#content {
  #stage {
    padding: 0;
    margin: 0;
    display: block;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
  }
}

header, footer {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: #373737;
  opacity: 0.8;
  color: #fff;
  padding: 0;
  min-width: 730px;

  .container {
    padding: 0 @gutter;
    text-align: center;
    height: @headerHeight;
    >* {
      height: @headerHeight;
      line-height: @headerHeight;
    }
  }
}

header {
  top: 0;
  height: @headerHeight;
  line-height: @headerHeight - 2*@gutter;
  border-bottom: 1px solid #333;
  .gradientBackground(rgba(51, 51, 51, 0.8), rgba(0, 0, 0, 0.8));
  .boxShadow(0, 1px, 4px, #666);

  h1 {
    display: inline-block;
    position: absolute;
    left: @gutter;

    a {
      color: #eee;
      color: @color;
      text-shadow: 1px 2px 1px #000;
      letter-spacing: 0.2em;
      font-weight: 100;
      font-size: 14px;
    }
  }

  ul {
    display: inline-block;
    list-style-type: none;
    li {
      display: inline;
    }
  }

  #tools {
  }

  #evergreen {
    position: absolute;
    right: @gutter;

    #tool-share {
      .icon {
        font-size: 22px;
      }
    }
  }

}

footer {
  bottom: 0;
  height: @footerHeight;
}

#tools {
  li {
    margin-left: 10px;
  }

  li:first-child {
    margin-left: 0;
  }
}

button {
  height: @headerHeight;
  border: none;
  display: inline-block;
  padding: 0 5px;
  cursor: pointer;
  text-align: left;
  background-color: inherit;
  color: #fff;

  .icon {
    font-size: 30px;
    margin-right: 5px;
    text-shadow: 1px 2px 2px #000;
    color: @color;
  }

  label {
    font-size: 13px;
    font-weight: 100;
    display: inline-block;
    width: 50px;
    white-space: normal;
    cursor: pointer;

    color: #888;
    text-shadow: 1px 2px 1px #000;
    font-weight: 100;
    font-size: 14px;

  }
}


button:hover {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 2px;

  .gradientBackground(rgba(5, 5, 5, 1.0), rgba(10, 10, 10, 1.0));
}

#dragon-drop-message {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  pointer-events: none;
  filter: blur(8px);

  .container {
    margin: 200px auto;
    display: block;
    width: 400px;
    padding: 30px;
    border-radius: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);

    label {
      font-size: 32px;
      text-shadow: rgba(0, 0, 0, 0.5) -1px 0, rgba(0, 0, 0, 0.3) 0 -1px, rgba(255, 255, 255, 0.5) 0 1px, rgba(0, 0, 0, 0.3) -1px -2px;
      color: #fff;
      opacity: 0.8;
    }
  }
}

#blank-slate {
  position: absolute;
  top: 40%;
  width: 100%;
  height: 100%;
  pointer-events: none;

  .container {
    text-align: center;
    width: 100%;
    margin-top: 30px;

    label {
      font-size: 32px;
      text-shadow: 1px 2px 1px #666;
      color: #000;
      font-weight: 600;
      opacity: 0.4;
    }

  }
}
