@headerHeight: 50px;

// @color: #4dc0c7;
// @color: #b7d595;
// @color: #f9aeb5;
@color: #ff4f00;

@import 'reset';
@import 'font.css';
@import 'definitions';
@import 'common';

html, body, header, footer {
  min-width: 730px;
}

html {
  height: 100%;
}

#content {
  #stage {
    min-height: 300px;
    padding: 0;
    margin: 0;
    display: block;
    .unselectable;
  }
}

header {
  .unselectable;

  ul {
    height: @headerHeight;
    display: inline-block;
    list-style-type: none;
    li {
      display: inline;
      height: @headerHeight;
    }
  }

  #tools {
    .icon {
      color: @color;
      text-shadow: 1px 1px 1px #000;
    }
  }

  #evergreen {
    position: absolute;
    right: @gutter;

    #tool-share {
        padding-right: @gutter;
        .icon {
          font-size: 22px;
          height: @headerHeight - 3*@gutter;
        }
    }
  }
}

button {
  height: @headerHeight;
  border: none;
  display: inline-block;
  padding: 0 5px 0 10px;
  cursor: pointer;
  text-align: left;
  background-color: transparent;
  color: #fff;

  .icon {
    font-size: 30px;
    text-shadow: 1px 2px 2px #000;
    display: inline-block;
    width: 35px;
    height: @headerHeight - (2*@gutter);
    padding: 0;
    margin: 0;
  }

  label {
    font-size: 13px;
    font-weight: 100;
    display: inline-block;
    width: 50px;
    white-space: normal;
    cursor: pointer;

    color: #888;
    text-shadow: 1px 2px 1px #000;
    font-weight: 100;
    font-size: 14px;

  }
}


button:hover {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 2px;

  .gradientBackground(rgba(5, 5, 5, 1.0), rgba(10, 10, 10, 1.0));
}

#dragon-drop-message {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  pointer-events: none;
  filter: blur(8px);

  .container {
    margin: 200px auto;
    display: block;
    width: 400px;
    padding: 30px;
    border-radius: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);

    label {
      font-size: 32px;
      text-shadow: rgba(0, 0, 0, 0.5) -1px 0, rgba(0, 0, 0, 0.3) 0 -1px, rgba(255, 255, 255, 0.5) 0 1px, rgba(0, 0, 0, 0.3) -1px -2px;
      color: #fff;
      opacity: 0.8;
    }
  }
}

#blank-slate {
  position: absolute;
  top: 300px;
  width: 100%;
  pointer-events: none;

  .container {
    text-align: center;
    width: 100%;
    margin-top: 30px;

    label {
      font-size: 32px;
      text-shadow: 1px 2px 1px #666;
      color: #000;
      font-weight: 600;
      opacity: 0.3;
    }

  }
}

.throb {
  -webkit-animation: pulse 0.6s infinite;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;

  -moz-animation-name: pulse;
  -moz-animation-duration: 0.6s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-direction: alternate;
}

@-webkit-keyframes pulse {
  from { opacity: 0.3; }
  to { opacity: 1.0; }
}

@-moz-keyframes pulse {
  from { opacity: 0.3; }
  to { opacity: 1.0; }
}

#color-chooser {
  display: inline-block;
  height: @headerHeight - 30px;;
  vertical-align: top;
  padding: 15px 0;
  margin-left: 15px;

  .color {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0.5;
  }

  .color:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  .color:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .color:hover {
    opacity: 1.0;
  }
}
