body {
  background-color: #f0f0f0;
}

#content {
}

#stage {
  background-color: #fff;
  display: block;
  margin: 10px auto;
  user-select: none;
  border-radius: 6px;
  border: 1px solid #eaeaea;
}
